<ion-header class="ion-no-border">
  <app-browser-header />
</ion-header>

<ion-content [fullscreen]="true">
  <app-hero />
  <app-trusted-by />

  <!-- Section Services -->
  <section
    class="flex flex-col gap-[32px] items-center w-full py-10 overflow-x-clip"
  >
    <div class="px-10 w-full flex justify-center">
      <app-section-header
        [title]="'LANDING.SERVICES_TITLE' | translate"
        [subtitle]="'LANDING.SERVICES_SUBTITLE' | translate"
        variant="browser"
      />
    </div>
    <div class="w-full md:px-10">
      <div class="w-full max-w-7xl mx-auto">
        <app-product-list
          [products]="services"
          [isLoading]="isLoading"
          [error]="error ?? undefined"
          [showHeader]="false"
          linkRoute="/services"
          variant="browser"
        />
      </div>
    </div>
  </section>

  <!-- Section Licences -->
  <section
    class="flex flex-col gap-[32px] items-center w-full py-10 overflow-x-clip"
  >
    <div class="px-10 w-full flex justify-center">
      <app-section-header
        [title]="'LANDING.LICENSES_TITLE' | translate"
        [subtitle]="'LANDING.LICENSES_SUBTITLE' | translate"
        variant="browser"
      />
    </div>
    <div class="w-full md:px-10">
      <div class="w-full max-w-7xl mx-auto">
        <app-product-list
          [products]="licenses"
          [isLoading]="isLoading"
          [error]="error ?? undefined"
          [showHeader]="false"
          linkRoute="/licenses"
          variant="browser"
        />
      </div>
    </div>
  </section>

  <!-- Section Produits -->
  <section
    class="flex flex-col gap-[32px] items-center w-full py-10 overflow-x-clip"
  >
    <div class="px-10 w-full flex justify-center">
      <app-section-header
        [title]="'LANDING.PRODUCTS_TITLE' | translate"
        [subtitle]="'LANDING.PRODUCTS_SUBTITLE' | translate"
        variant="browser"
      />
    </div>
    <div class="w-full md:px-10">
      <div class="w-full max-w-7xl mx-auto">
        <app-product-list
          [products]="products"
          [isLoading]="isLoading"
          [showHeader]="false"
          linkRoute="/products"
          variant="browser"
        />
      </div>
    </div>
  </section>
</ion-content>
