@if (!isNative) {
<ion-header class="ion-no-border">
  <app-browser-header />
</ion-header>
}

<ion-content [fullscreen]="true">
  <div
    class="flex min-h-full flex-col items-center gap-[52px] bg-background p-8 pt-12 mx-auto max-w-md"
  >
    <!-- Header -->
    <div class="flex flex-col items-center gap-1 text-black">
      <h1 class="!text-[32px] !font-bold !leading-normal !m-0">
        {{ 'AUTH.FORGOT_PASSWORD.TITLE' | translate }}
      </h1>
      <p class="text-base font-normal text-center">
        {{ 'AUTH.FORGOT_PASSWORD.SUBTITLE' | translate }}
      </p>
    </div>

    <!-- Form -->
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex w-full flex-col items-center gap-4"
    >
      <app-input
        [label]="'AUTH.FORGOT_PASSWORD.EMAIL_LABEL' | translate"
        type="email"
        [placeholder]="'AUTH.FORGOT_PASSWORD.EMAIL_PLACEHOLDER' | translate"
        formControlName="email"
        [error]="form.get('email')?.dirty && form.get('email')?.hasError('pattern') ? ('AUTH.FORGOT_PASSWORD.EMAIL_INVALID' | translate) : ''"
      />

      <!-- Submit -->
      <app-button
        [label]="'AUTH.FORGOT_PASSWORD.SUBMIT' | translate"
        type="submit"
        variant="primary"
        [disabled]="isLoading || form.invalid"
      />

      <!-- Login link -->
      <p class="text-xs text-black">
        <a routerLink="/auth/login" class="font-bold text-primary"
          >{{ 'AUTH.FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</a
        >
      </p>
    </form>
  </div>
</ion-content>
