@if (!isNative) {
<ion-header class="ion-no-border">
  <app-browser-header [cartCount]="0" [isLoggedIn]="false" />
</ion-header>
}

<ion-content [fullscreen]="true">
  <div
    class="flex min-h-full flex-col items-center gap-[52px] bg-background p-8 pt-12 mx-auto max-w-md"
  >
    <!-- Header -->
    <div class="flex flex-col items-center gap-1 text-black">
      <h1 class="!text-[32px] !font-bold !leading-normal !m-0">
        Inscrivez-vous
      </h1>
      <p class="text-base font-normal">Creez votre compte</p>
    </div>

    <!-- Success message -->
    @if (successMessage) {
    <div
      class="flex w-full items-center gap-2 rounded-lg border border-green-200 bg-green-50 px-4 py-3"
    >
      <p class="text-sm text-green-600">{{ successMessage }}</p>
    </div>
    }

    <!-- Error message -->
    @if (errorMessage) {
    <div
      class="flex w-full items-center gap-2 rounded-lg border border-red-200 bg-red-50 px-4 py-3"
    >
      <p class="text-sm text-red-600">{{ errorMessage }}</p>
    </div>
    }

    <!-- Form -->
    @if (!successMessage) {
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex w-full flex-col items-center gap-4"
    >
      <div class="flex w-full gap-4">
        <app-input
          label="Prenom"
          type="text"
          placeholder="Jean"
          formControlName="firstName"
        />
        <app-input
          label="Nom"
          type="text"
          placeholder="Dupont"
          formControlName="lastName"
        />
      </div>
      <app-input
        label="Email"
        type="email"
        placeholder="votre@email.com"
        formControlName="email"
      />
      <app-input
        label="Mot de passe"
        type="password"
        placeholder="****************"
        formControlName="password"
      />

      <!-- Password requirements -->
      @if (form.get('password')?.dirty && form.get('password')?.invalid) {
      <p class="w-full text-xs text-red-500">
        8 caracteres minimum, une majuscule, une minuscule, un chiffre et un
        caractere special (@$!%*?&)
      </p>
      }

      <app-input
        label="Confirmation du mot de passe"
        type="password"
        placeholder="****************"
        formControlName="confirmPassword"
      />

      <!-- Password mismatch -->
      @if (form.get('confirmPassword')?.dirty &&
      form.hasError('passwordMismatch')) {
      <p class="w-full text-xs text-red-500">
        Les mots de passe ne correspondent pas
      </p>
      }

      <!-- Submit -->
      <app-button
        label="S'inscrire"
        type="submit"
        variant="primary"
        [disabled]="isLoading || form.invalid"
      />

      <!-- Login link -->
      <p class="text-xs text-black">
        Deja inscrit ?
        <a routerLink="/auth/login" class="font-bold text-primary"
          >Se connecter</a
        >
      </p>
    </form>
    }
  </div>
</ion-content>
