<ion-header class="ion-no-border">
  @if (isNative) {
  <ion-toolbar
    [style.--padding-top]="0"
    [style.--padding-bottom]="0"
    [style.--padding-start]="0"
    [style.--padding-end]="0"
    [style.--min-height]="0"
  >
    <app-mobile-header [cartCount]="1" />
  </ion-toolbar>
  } @else {
  <app-browser-header [cartCount]="1" [isLoggedIn]="false" />
  }
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex items-center justify-center h-full">
    @if (isNative) {
    <h1 class="text-4xl font-bold text-cyna-primary">app mobile</h1>
    } @else {
    <h1 class="text-4xl font-bold text-cyna-primary">app web</h1>
    }
  </div>
</ion-content>

@if (isNative) {
<ion-footer class="ion-no-border">
  <app-navbar />
</ion-footer>
}
